
/* Dark mode styles */
body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}
h1 {
    color: #64b5f6;
    padding: 20px;
}
.song {
    border: 1px solid #595959;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #333;
}
.song audio {
    margin-right: 10px;
}
.song p {
    margin: 0;
}
.repeat-button {
    background-color: #64b5f6;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.repeat-button:hover {
    background-color: #2196F3;
}
input[type="file"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
}
button {
    background-color: #64b5f6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #2196F3;
}
